apiVersion: apps/v1
kind: Deployment
metadata:
  name: hugodemo
  namespace: hugodemo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hugodemo
  template:
    metadata:
      labels:
        app: hugodemo
    spec:
      imagePullSecrets:
        - name: forgejo-registry
      containers:
        - name: nginx
          image: forgejo.uclab.dev/affragak/hugo:5d080d2
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              cpu: 200m
              memory: 64Mi
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 30
