apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: botkube-slack-secrets
  namespace: botkube
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend-global
    kind: ClusterSecretStore
  target:
    name: botkube-slack-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        comm_config.yaml: |
          communications:
            'default-group':
              socketSlack:
                enabled: true
                channels:
                  'default':
                    name: 'k3s-pi5cluster'
                    bindings:
                      executors:
                        - k8s-default-tools
                      sources:
                        - k8s-err-events
                        - k8s-recommendation-events
                botToken: "{{ .botToken }}"
                appToken: "{{ .appToken }}"
  data:
    - secretKey: botToken
      remoteRef:
        key: botkube-slack-secrets
        property: botToken
    - secretKey: appToken
      remoteRef:
        key: botkube-slack-secrets
        property: appToken
