apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: botkube-slack-secrets
  namespace: botkube
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend-global
    kind: ClusterSecretStore
  target:
    name: botkube-slack-secrets
    creationPolicy: Owner
  data:
    - secretKey: botToken
      remoteRef:
        key: botkube
        property: botToken
    - secretKey: appToken
      remoteRef:
        key: botkube
        property: appToken
