apiVersion: v1
kind: Service
metadata:
  name: mkdocs
  labels:
    app: mkdocs
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: mkdocs
