apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: kube-prometheus-stack
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      # Ignore "validated" annotation which is not inserted during install
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  valuesFrom:
    - kind: ConfigMap
      name: flux-kube-state-metrics-config
      valuesKey: kube-state-metrics-config.yaml
  # https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml
  values:
    prometheus:
      prometheusSpec:
        podMonitorNamespaceSelector:
          matchLabels:
            app.kubernetes.io/component: monitoring
        additionalScrapeConfigs:
          - job_name: "kubernetes-endpoints"
            scrape_interval: 30s
            kubernetes_sd_configs:
              - role: endpoints
            relabel_configs:
              - source_labels:
                  [__meta_kubernetes_service_annotation_prometheus_io_scrape]
                action: keep
                regex: true
              - source_labels:
                  [
                    __address__,
                    __meta_kubernetes_service_annotation_prometheus_io_port,
                  ]
                action: replace
                target_label: __address__
                regex: (.+)(?::\d+);(\d+)
                replacement: $1:$2
          - job_name: "mktxp"
            static_configs:
              - targets: ["mktxp_machine_IP:49090"]
            # Discover all PodMonitors, Probes, PrometheusRules and ServiceMonitors
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
    grafana:
      # defaultDashboardsEnabled: false
      plugins:
        - cloudflare-app
      adminPassword: grafana123
      persistence:
        enabled: true
        type: pvc
        accessModes:
          - ReadWriteOnce
        size: 4Gi
        storageClassName: synology-iscsi-storage
      # ingress:
      #   enabled: true
      #   annotations:
      #     cert-manager.io/cluster-issuer: letsencrypt-production
      #
      #   ingressClassName: cilium
      #   hosts:
      #     - grafana.uclab8.net

      ## Path for grafana ingress
      # path: /

      ## TLS configuration for grafana Ingress
      ## Secret must be manually created in the namespace
      ##
      # tls:
      #   - secretName: grafana-tls-production
      #     hosts:
      #       - grafana.uclab8.net
